---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import GeneralLayout from "./GeneralLayout.astro";
import defaultHero from "../assets/blog/default-hero.webp";
import { ArrowLeft } from "@lucide/astro";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const {
  title,
  description,
  pubDate,
  updDate,
  heroImage,
  author,
  inspo,
  tags,
  slug,
} = Astro.props;

const imageToDisplay = heroImage || defaultHero;
---

<GeneralLayout title={title} description={description}>
  <article>
    <div
      class="relative w-full h-[min(70vh,560px)] overflow-hidden border-b-[3px] border-black"
    >
      <Image
        src={imageToDisplay}
        alt={title}
        class="w-full h-full object-cover block aspect-video"
        transition:name={`blog-hero-${slug}`}
      />
      <div
        class="absolute inset-0 bg-linear-to-t from-black/80 via-black/20 to-transparent"
      >
      </div>
      <div
        class="general-padding absolute bottom-0 left-0 right-0 pb-10 text-white"
      >
        <p class="text-[0.7rem] tracking-[0.2em] uppercase mb-3 opacity-75">
          Inspirado por {inspo}
        </p>
        <h1
          class="text-6xl font-black leading-[1.05] max-w-200 tracking-[-0.02em]"
          transition:name={`blog-title-${slug}`}
        >
          {title}
        </h1>
        <p class="text-[0.7rem] tracking-[0.2em] uppercase mb-3 opacity-75">
          Escrito por {author}
        </p>
      </div>
    </div>

    <div class="general-padding py-8">
      <slot />
      <div
        class="flex justify-between items-center mt-12 text-sm text-gray-500"
      >
        <p>Relacionado: {Astro.props.tags?.join(", ")}</p>
        <p><FormattedDate date={pubDate} /></p>
      </div>
    </div>
    <footer
      class="general-padding mt-20 pt-8 border-t border-gray-800 flex justify-between items-center"
    >
      <a
        href="/blog"
        class="text-sm text-gray-500 hover:text-black transition-colors flex items-center gap-2 group"
      >
        <ArrowLeft
          size={16}
          class="group-hover:-translate-x-1 transition-transform"
        />
        Volver a blog
      </a>
    </footer>
  </article>
</GeneralLayout>
